/* Стили для Index.html */







/* Наши преимущества */

/* --Чем мы занимаемся?, Наша команда*/




/* Команда */

/* Постоянные клиенты */



/* Модальное окно */




/* .check-text::before{
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 4px;
    margin-right: 8px;
}



.input-check:checked + .check-text::before{
    background-color: var(--accent-color);
    border: 0;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
} */
