/* WebStudio */
.logo {

    font-family: 'Raleway', 'Oleo Script', 'sans';
    margin-right: 93px;
    @include font (700, 26px, 1.19, 0.03em);
}

.logo-part-one {
    color: var(--accent-color);
}

.logo-part-two {
    color: #000000;
}

.logo-part-three {
    color: var(--text-wh-color);

}